* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

.card {
  border: 1px black dotted;
  margin-top: 1rem;
}

.card img {
  width: 100%;
  display: block;
}

.card h2 {
  background: #fff;
  padding: 5px;
}

.row {
  display: block;
}

@media (min-width: 1024px) {
  .row {
    display: flex;
  }
}

/* ab 1440px die Überschriften in den Karten zentriert*/

@media (min-width: 1440px) {
  .card h2 {
    text-align: center;
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .card h2 {
    background: black;
    color: #fff;
  }
}
